<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Order Home Page</title>
</head>

<body>

    <form method="post" action="{% url 'indexView' %}">
        {% csrf_token %}
        <input type="text" placeholder='Search customer' name='searched'>
        <button type="submit">Search</button>
    </form>

    {% if searched and orders %}
    <p>you have searched for {{searched}}</p>
    <div class="orders">
        <table>
            <tr>
                <th colspan="2">Order</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>customer</th>
            </tr>
            {% for order in orders %}
            <div class="order">
                <tr>
                    <td><a href="{% url 'detail' orderId=order.orderId%}">{{order.orderId}}</a></td>
                    <td>{{order.customer}}</td>
                </tr>
            </div>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="orders">
        <table>
            <tr>
                <th colspan="2">Order</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>customer</th>
            </tr>
            <tr>
                <td colspan="2">No Orders</td>
            </tr>
        </table>
    </div>
    {% endif %}


    <a class="btn btn-warning" href="/saml/slo">登出</a>

</body>

</html>